.entry-container {
  height: 100%;
}

.entry {
  height: 10%;
  max-height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $stack-ui;
  font-size: 14pt;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &__rank {
    font-weight: bold;
  }

  &__icon {
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__name {
    font-weight: bold;
  }

  &__time {

  }
}
